body {
    background-color: darkslategray;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.todo-card {
    border: 1px solid white;
    border-radius: 5px;
    height: 50px;
    margin-bottom: 20px;
    padding: 10px;
}

.page {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding: 10px;
    text-align: center;
}

h2 {
    color: white;
    font-style: italic;
}

h1 {
    color: white;
    padding: 10px;
    text-align: center;
}

.todo-card {
    display: grid;
    border: solid 1px white;
    border-radius: 5px;
    height: 100px;
    margin-bottom: 20px;
    padding: 10px;
    gap: 10px;
    background-color: cadetblue;
    grid-template-columns: repeat(3, 1fr);
}

.todo-card input {
    width: 100%;
    grid-column: 1 / -1;
    border-width: 0 0 1px 0;
    padding: 5px;
}

.todo-card button {
    justify-self: center;
    min-width: 50px;
    cursor: pointer;
}

.todo-card-new {
    display: grid;
    border: solid 1px white;
    border-radius: 5px;
    height: 100px;
    margin-bottom: 20px;
    padding: 10px;
    gap: 10px;
    background-color: cadetblue;
    grid-template-columns: inherit;
}
